
#digital-clock {
 padding-top: 0.5px;
 padding-bottom: 50px;
 padding-right: 70px;
 font-family: 'Open Sans Condensed', Cairo;
 font-size: 20px;
 text-align: right;
 text-color: green;
}



h1{
  text-align: center;
}

p12{
  font-size: 19px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 48px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Number text (1/3 etc) */
.numbertext {
  color:lime;
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



p14{
  font-size: 20px;
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color:black;
  color:pink;
  padding: 12px;
  font-size: px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color:#242124; 
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #56e55e;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #56e55e;}
</style>
</head>
<body>



<div class="dropdown" style="float:right;">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="https://www.google.com/search?q=memes&source=lmns&bih=760&biw=1536&hl=en&sa=X&ved=2ahUKEwjWoqiWlpP3AhWqTPUHHVfxBvUQ_AUoAHoECAEQAA">Memes</a>
    <a href="https://en.wikipedia.org/wiki/Internet_meme">Internet memes </a>
    <a href="https://memes.com/">Memes</a>
    <a href="https://www.pinterest.jp/NicoletteS93/memes/">999+ Memes</a>
    <a href="https://stacker.com/stories/2650/50-famous-memes-and-what-they-mean">History of memes</a>
  </div>
</div>

</body>
</html>



